@import './variables.scss';

.accordion {
  border: none;

  &__button {
    background: $gray-color-f3;
    padding: 12px 14px;
    position: relative;

    &[aria-expanded='true'] {
      &::after {
        transform: rotate(45deg);
      }
    }

    &:after {
      display: inline-block;
      content: '';
      height: 10px;
      width: 10px;
      margin-right: 12px;
      border-bottom: 2px solid #3a3b42;
      border-right: 2px solid #3a3b42;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
      right: 12px;
      top: 18px;
    }
  }
}
